<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Dashboard</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/dashboard/css/style.css">
	</head>
	<body>
		<div class="wrapper">
			<div class="headbar">
				<p>Test App</p>
				{% if session['authorization'] %}
					<a href="/dashboard">Dashboard</a>
					<a href="/show/{{session['user_id']}}">Profile</a>
					<a href="/logoff">Log off</a>
				{% else %}
					<a href="/">Home</a>
					<a href="/login">Sign in</a>
				{% endif %}
			</div>
			{% if session['authorization'] == 9 %}
				<h2 class="inlineblock page_head">Manage Users</h2>
				<a class="inlineblock" href="/register"><button>Add new</button></a>
			{% else %}
				<h2 class="inlineblock page_head">All Users</h2>
			{% endif %}
			<table border='1'>
			<tr>
				<td>ID</td>
				<td>Name^</td>
				<td>email</td>
				<td>created_at</td>
				<td>user_level</td>
				{% if session['authorization'] == 9: %}
					<td>actions</td>
				{% endif %}
			</tr>
			{% for user in users %}
			<tr>
				<td>{{user['id']}}</td>
				{% if user['id'] == session['user_id'] %}
					<td><a href="/edit">{{user['name']}}</a></td>
				{% else %}
					<td><a href="/show/{{user['id']}}">{{user['name']}}</a></td>
				{% endif %}
				<td>{{user['email']}}</td>
				<td>{{user['created_at']}}</td>
				{% if user['user_level'] == 1: %}
					<td>normal</td>
				{% else %}
					<td>admin</td>
				{% endif %}
				{% if session['authorization'] == 9: %}
					<td><a href="/edit/{{user['id']}}">Edit</a> <a href="/destroy/{{user['id']}}" onclick="return confirm('Are you sure you want to remove this user?')">Remove</a></td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
		</div>
	</body>
</html>