<!DOCTYPE html>
<html lang="en">
	<head>
		{% if session['authorization'] == 9 %}
			<title>Edit User</title>
		{% else %}
			<title>Edit Profile</title>
		{% endif %}
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/dashboard/css/style.css">
	</head>
	<body>
		<div class="wrapper">
			<div class="headbar">
				<p>Test App</p>
				{% if session['authorization'] %}
					<a href="/dashboard">Dashboard</a>
					<a href="/show/{{session['user_id']}}">Profile</a>
					<a href="/logoff">Log off</a>
				{% else %}
					<a href="/">Home</a>
					<a href="/login">Sign in</a>
				{% endif %}
			</div>
			{% if session['authorization'] == 9 and not session['user_id'] == user['id'] %}
				<h2 class="inlineblock page_head">Edit user #{{user['id']}}</h2>
				<a class="inlineblock" href="/dashboard"><button>Return to Dashboard</button></a>
			{% else %}
				<h2>Edit profile</h2>
			{% endif %}
			<div class="editbox inlineblock">
				<form action="/update_info" method="POST">
					<p>Email Address:</p>
					<input type="text" value="{{user['email']}}" name="email"><br><br>
					<p>First Name:</p>
					<input type="text" value="{{user['first_name']}}" name="first_name"><br><br>
					<p>Last Name:</p>
					<input type="text" value="{{user['last_name']}}" name="last_name"><br><br>
					{% if session['authorization'] == 9 %}
						<p>User Level:</p>
						<select name="set_level">
							<option value="9">Admin</option>
							<option value="1">Normal </option>
						</select>
					{% endif %}
					<button type="submit">Save</button>
				</form>
			</div>
			<div class="editbox inlineblock">
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						{% for message in messages %}
							<p>{{message}}</p>
						{% endfor %}
					{% endif %}
				{% endwith %}
				<form action='/change_password' method='POST'>
					<input type="hidden" value="{{user['id']}}" name="user_id">
					<p>Password:</p>
					<input type="text" name="password"><br><br>
					<p>Password Confirmation:</p>
					<input type="text" name="pass_confirm"><br><br>
					<button type="submit">Update Password</button>
				</form>
			</div>
			{% if session['authorization'] == 1 or session['user_id'] == user['id'] %}
			<div class="descriptionbox">
				<p>Edit Description</p>
				<form action="/change_description">
					<textarea class="description"></textarea><br>
					<button type="submit">Save</button>
				</form>
			</div>
			{% endif %}
		</div>
	</body>
</html>