<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Home Page</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/dashboard/css/style.css">
	</head>
	<body>
		<div class="wrapper">
			<div class="headbar">
				<p>Test App</p>
				<p>Home</p>
				<a href="/users/login">Sign in</a>
			</div>
			<div class="splash">
				<h1>Welcome to the Test</h1>
				<p>We're going to build a cool application using an MVC framework! This application was built with the Village88 folks!</p>
				<a href="/users/register"><button>Start</button></a>
			</div>
			<div class="bottom_content">
				<div class="lower_info">
					<h3>Manage Users</h3>
					<p>Using this application, you'll learn how to add, remove, and edit users for the application</p>
				</div>
				<div class="lower_info">
					<h3>Leave messages</h3>
					<p>users will be able to leave a message to another user using this application</p>
				</div>
				<div class="lower_info">
					<h3>Edit User Information</h3>
					<p>Admins will be able to edit another user's information (email address, first name, last name, etc)</p>
				</div>
			</div>
		</div>
	</body>
</html>