<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Login</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/dashboard/css/style.css">
	</head>
	<body>
		<div class="wrapper">
			<div class="headbar">
				<p>Test App</p>
				{% if session['authorization'] %}
					<a href="/dashboard">Dashboard</a>
					<a href="/show/{{session['user_id']}}">Profile</a>
					<a href="/logoff">Log off</a>
				{% else %}
					<a href="/">Home</a>
					<a href="/login">Sign in</a>
				{% endif %}
			</div>
			<h2>Login</h2>
			<form action="/loggedon" method="POST">
				Email Address:<input type="text" name="email"><br>
				Password:<input type="password" name="password"><br>
				<button type="submit">Log in</button>
			</form>
			<a href="/register">Don't have an account? Register</a>
		</div>
	</body>
</html>