<!DOCTYPE html>
<html lang="en">
	<head>
		{% if session['authorization'] == 9 %}
			<title>New  User</title>
		{% else %}
			<title>Register</title>
		{% endif %}
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/dashboard/css/style.css">
	</head>
	<body>
		<div class="wrapper">
			<div class="headbar">
				<p>Test App</p>
				<p>Home</p>
				<a href="/users/login">Sign in</a>
			</div>
			{% if session['authorization'] == 9 %}
				<h2>Add a new user</h2>
				<a href="/users/dashboard"><button>Return to Dashboard</button></a>
			{% else %}
				<h2>Register</h2>
			{% endif %}
			<form action="/users/try_register" method="POST">
				Email Address:<input type="text" name="email"><br>
				First Name:<input type="text" name="first_name"><br>
				Last Name:<input type="text" name="last_name"><br>
				Password:<input type="text" name="password"><br>
				Password Confirmation:<input type="text" name="pass_confirm"><br>
				{% if session['authorization'] == 9 %}
					<button type="submit">Create</button>
				{% else %}
					<button type="submit">Register</button>
				{% endif %}
			</form>
			{% if session['authorization'] == 0 %}
				<a href="/users/login">Already have an account? Login</a>
			{% endif %}
		</div>
	</body>
</html>