<!DOCTYPE html>
<html lang="en">
	<head>
		{% if session['authorization'] == 9 %}
			<title>New  User</title>
		{% else %}
			<title>Register</title>
		{% endif %}
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/dashboard/css/style.css">
	</head>
	<body>
		<div class="wrapper">
			<div class="headbar">
				<p>Test App</p>
				{% if session['authorization'] %}
					<a href="/dashboard">Dashboard</a>
					<a href="/show/{{session['user_id']}}">Profile</a>
					<a href="/logoff">Log off</a>
				{% else %}
					<a href="/">Home</a>
					<a href="/login">Sign in</a>
				{% endif %}
			</div>
			{% if session['authorization'] == 9 %}
				<h2 class="inlineblock page_head">Add a new user</h2>
				<a href="/dashboard"><button>Return to Dashboard</button></a>
			{% else %}
				<h2 class="inlineblock page_head">Register</h2>
			{% endif %}
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<p>{{message}}</p>
					{% endfor %}
				{% endif %}
			{% endwith %}
			<form action="/try_register" method="POST">
				Email Address:<input type="text" name="email"><br>
				First Name:<input type="text" name="first_name"><br>
				Last Name:<input type="text" name="last_name"><br>
				Password:<input type="text" name="password"><br>
				Password Confirmation:<input type="text" name="pass_confirm"><br>
				{% if session['authorization'] == 9 %}
					<button type="submit">Create</button>
				{% else %}
					<button type="submit">Register</button>
				{% endif %}
			</form>
			{% if session['authorization'] == 1 %}
				<a href="/login">Already have an account? Login</a>
			{% endif %}
		</div>
	</body>
</html>